<!DOCTYPE html>
<html>
<head>
<meta name="Viewport" cotent="with=device - width, intial-scale=1.0"> >
    <title> University website Design </title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
<section class="header">
<nav>
  <a href="index.html"><img src="eduford_img/logo.png"></a>
  <div class="nav-links" id="nav-links">
    <i class="fa fa-times" onclick="hiddenMenu()"></i>
    <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="course.html">COURSE</a></li>
        <li><a href="blog.html">BLOG</a></li>
        <li><a href="contact.html">CONTACTS</a></li>
    </ul>
  </div> 
  <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
<div class="text-box">
    <h1>World's Biggest University</h1>
    <P>Making website is now one of the easiest thing in the world. you just need to learn HTML,CSS,<br>Javascript and you are to good to go.</P>
    <a href=""class="hero-btn">Visit Us To Know More</a>
</div>
</section>

<!-----Course----->

<section class="course">
    <h1>Course We Offer</h1>
    <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit.</p>

    <div class="row">
        <div class="course-col">
            <h3>Intermediate</h3>
            <P>It is a course after tenth class, it is a two years of duration</P>
        </div>
        <div class="course-col">
            <h3>Degree</h3>
            <P>It is a course after Intermediate, it is a three years of duration</P>
        </div>
        <div class="course-col">
            <h3>Post Gradution</h3>
            <P>It is a course after Intermediate , it is a four years of duration</P>
        </div>
    </div>
</section>

<!------campus------>

<section class="campus">
<h1>Our Global Campus</h1>
<p>Lorem ipsum dolor sit amet, consectertur adipiscing elit.</p>

<div class="row">
    <div class="campus-col">
        <img src="eduford_img/london.png">
        <div class="layer">
            <h3>London</h3>
        </div>
    </div>
    <div class="campus-col">
        <img src="eduford_img/newyork.png">
        <div class="layer">
            <h3>Newyork</h3>
        </div>
    </div>
    <div class="campus-col">
        <img src="eduford_img/washington.png">
        <div class="layer">
            <h3>Washington</h3>
        </div>
    </div>
 
</div>

</section>

<!------Facilities ------>



<section class="facilities">
<h1>Our facilities</h1>
<P>Lorem ipsum dolor sit amet, consectertur adipiscing elit.</P>

<div class="row">
     <div calss="facilities-col">
     <img src="eduford_img/library.png" class="card-img">
     <h3>World Class</h3>
     <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit.</p>
</div>
<div calss="facilities-col">
    <img src="eduford_img/basketball.png" class="card-img">
    <h3>Largest play ground</h3>
    <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit.</p>
</div>
<div calss="facilities-col">
    <img src="eduford_img/cafeteria.png" class="card-img">
    <h3>Tasty and Healthy Food</h3>
    <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit.</p>
</div>
</div>

</section>
<!------testimonials------->

<section class="testimonials">
    <h3>What Our Student says</h3>
    <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit.</p>

    <div class="row">
   <div class="testimonials-col">
    <img src="eduford_img/user1.jpg">
    <div>
<p>There were few factors which I considered for deciding the University. 
First, UTS was leading university in Australia in Technology Sector.</p>
        <h3>Christine Berkley</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
    </div>
    </div>
    <div class="testimonials-col">
    <img src="eduford_img/user2.jpg">
    <div>
<p>There were few factors which I considered for deciding the University. 
 First, UTS was leading university in Australia in Technology Sector.</p>
        <h3>David Byer</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        </div>
    </div> 
</section> 

<!-------Call To Action------->

<section class="cta">
    <h1>Enroll For Our Various Online Courses <br>Anywhere
         From The World</h1>
<a href="contact.html" class="hero-btn">CONTACT US</a>
</section>

<!-------Footer------->

<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet,<br> consectertur adipiscing elit.</p>
<div class="icons">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
</div>
<p>Made with <i class="fa-regular fa-heart"></i> by Easy Tutorials</p>
</section>


<!------Javascript for Toggle Menu------>
<script>

    var navlinks = document.getElementById("navlinks")
    function showMenu(){
        navlinks.style.right = "0";
    }
    function hideMenu(){
        navlinks.style.right = "-200px";
    }
     navlinks
</script>     
    </body>
    </html>
